<main id="main" class="main column">
	<div class="main__gaps">
		<div class="intro">
			<p class="intro__hi">Hi, I'm</p>
			<h1 class="intro__name">Igor</h1>
		</div>
		<div class="about"></div>
		<div class="experience"></div>
		<div class="projects"></div>
	</div>
</main>
