<main id="main" class="main column">
	<div class="main__gaps">
		<div class="intro">
			<p class="intro__hi">{{ intro.hi | safe }}</p>
			<h1 class="intro__name">{{ intro.name | safe }}</h1>
			<p class="intro__who">{{ intro.who | safe }}</p>
			<p class="intro__what">{{ intro.what | safe }}</p>
		</div>
		<section class="about">
			<header class="caption">
				<h2 class="caption__title">About</h2>
			</header>
			<div class="content content-inline content-block about__content">
				{% for paragraph in about.paragraphs %}
					{{ paragraph | markdown | safe }}
				{% endfor %}
			</div>
		</section>
		<section class="experience">
			<header class="caption">
				<h2 class="caption__title">Experience</h2>
			</header>
			<div class="content content-block experience">
				{% for item in experience.items %}
					<article class="experience__place">
						<h3 class="experience__title">{{ item.title | safe }} · <a href="{{ item.url }}" class="experience__company-link">{{ item.company | safe }}</a></h3>
						<div class="experience__period">
							<time>{{ item.period.from | safe }}</time> - <time>{{ item.period.to | safe }}</time>
						</div>
						<p class="experience__details">{{ item.description | safe }}</p>
						<p class="tags">
							{% for techItem in item.tech %}
								<span class="tags__item">{{ techItem | safe }}</span>
							{% endfor %}
						</p>
					</article>
				{% endfor %}
			</div>
		</section>
		<section class="projects">
			<header class="caption">
				<h2 class="caption__title">Projects</h2>
			</header>
		</section>
	</div>
</main>
