/* Intro */

.intro {
	position: relative;
	display: grid;
}

.intro__hi {
	margin: 0;
}

.intro__name {
	margin: 0;
	line-height: 1.1;
	text-transform: uppercase;
	font-weight: normal;
	font-size: var(--font-size-shout);
	font-family: var(--font-family-heading);
	color: var(--color-text-primary);
}
