:root {
	color-scheme: light;

	/* TODO: update colors */

	--color-back-primary: hsl(var(--color-ghost));
	--color-back-seconday: hsl(var(--color-ghost), 0.9);

	--color-text-primary: hsl(var(--color-ebony));
	--color-text-secondary: hsl(var(--color-ebony), 0.9);
}
