:root {
	color-scheme: light;

	--color-back-primary: hsl(var(--color-white));

	--color-text-primary: hsl(var(--color-black));
	--color-text-secondary: hsl(var(--color-gray-dark), 0.9);

	--color-primary: hsl(var(--color-blue));
}
