/* Header */

.header {
	position: sticky;
	top: 0;
	z-index: 2;
	backdrop-filter: blur(10px);
	view-transition-name: header;
}

/* Link */

.header__link {
	display: flex;
	border-radius: 50%;
	color: var(--color-text-primary);
	padding: 5px;
}

.header__logo {
	display: block;
}
