@media (width < 1024px) {
	/* Header */

	.header {
		display: flex;
		justify-content: space-between;
		align-content: center;
		align-items: center;
		padding-block: 16px;
		box-shadow: 0 2px 0 var(--color-text-primary);
	}
}
